<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.malmstein.eddystonesample">

  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Eddystone">

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyDdeTxQHCbNSQUW5-t2UQbqtlskm50n3lg" />

    <meta-data
      android:name="com.google.android.nearby.messages.API_KEY"
      android:value="AIzaSyDdeTxQHCbNSQUW5-t2UQbqtlskm50n3lg" />

    <activity
      android:name="com.malmstein.eddystonesample.EddystoneActivity"
      android:label="@string/app_name"
      android:theme="@style/Eddystone">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.malmstein.eddystonesample.manage.ManageBeaconActivity"
      android:label="@string/app_name"
      android:theme="@style/Eddystone"/>

  </application>

</manifest>
